<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="fontawesome/css/fontawesome.min.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<link rel="stylesheet" href="css/home.css" />
</head>
<body>
<!-- <nav class="navbar bg__color">
	<img class="navbar-brand img__navbar" src="assets/img/logo.svg" width="80" height="80" class="d-inline-block align-center" alt="">
</nav>	 -->
	<div class="card__center">
		<div class="container pt-3">
		  <div class="row justify-content-sm-center">
		    <div class="col-sm-6 col-md-4">
		      <div class="card text-center">
		        <div class="card-header">
		         <strong>DOSE CERTA</strong> 
		        </div>
		        <div class="card-body">
					<img class="img__logo" src="img/logo.svg">
					<form class="form-signin">
				<!-- 		<% if(typeof msg !== 'undefined') { %>
						<div class="alert alert-<%=msg.type%> alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <%=msg.text%>
						</div>
					<% } %> -->
					<form method="POST" action="/">
						<div class="form-group align-text">
							<label for="usuario">Usuário</label>
							<input class="form-control" type="text" id="usuario" name="usuario" placeholder="Digite seu usuário" required />
						</div>
						<div class="form-group align-text">
							<label for="senha">Senha</label>
							<input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha" required />
						</div>

						<button class="btn btn-success btn-block mb-4" type="submit">ENTRAR</button>
						<div class="col-sm-5 mb-3"><a href="cadastrar.html">Cadastre-se</a></div>
					</form>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<!-- <section id="login-form">
		<div class="container">
			<div class="col-md-6 col-md-offset-3">
				<div class="jumbotron">
					<p>Faça login na nossa plataforma.</p>
					<% if(typeof msg !== 'undefined') { %>
						<div class="alert alert-<%=msg.type%> alert-dismissible" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						  <%=msg.text%>
						</div>
					<% } %>
					<form method="POST" action="/">
						<div class="form-group">
							<label for="usuario">Usuário</label>
							<input class="form-control" type="text" id="usuario" name="usuario" placeholder="Digite seu usuário" required />
						</div>
						<div class="form-group">
							<label for="senha">Senha</label>
							<input class="form-control" type="password" name="senha" id="senha" placeholder="Digite sua senha" required />
						</div>
						<div class="form-group col-md-12">
							<button class="btn btn-success btn-block" type="submit">Login</button>
						</div>
						<br>
					</form>
					<p><a href="/cadastrar">Cadastre-se</a></p>
				</div>
			</div>
		</div>
		</div>
	</section> -->
	<footer class="footer">
		<div class="container">
			<div class="row" >
				<div class="col-md-12">
					<p class="text-center color">Desenvolvido por <strong>Dose Certa</strong></p>
				</div>
			</div>
		</div>
	</footer>
	<script src="assets/jquery/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>