.card__center{
	height: 100vh;
    margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img__logo{
    width: 40%;
    display: block;
    margin: 0.5em auto 0.5em;
}

.align-text{
	text-align: left !important;
}